{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <!-- jQuery connection -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!-- bootstrap CSS -->
      {% include 'base/css.html' %}

    <title></title>
  </head>
  <body class='d-flex flex-column min-vh-100'>
    {% include 'base/navbar.html' %}

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>


    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}

  </body>
</html>
